:root {
    /* colors */
    --very-light-pink: #c7c7c7;
    --hospital-green: #acd9b2;
    --Text-input-field: #f7f7f7;
    --dark: #232330;
    --white: #ffffff;
    /* text sizes */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  
  body {
    font-family: "Lato", sans-serif;
    font-family: "Quicksand", sans-serif;
    margin: 0px ;
  }
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-items: center;
    margin: 0px;
    
}
.form-container{
    width: 316px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
}

.form-container_h1{
    font-size: var(--lg);
}

.form-container_form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container_heading{
    color: var(--dark);
    font-size: var(--lg);
    margin: 0px;
    
}

.form-container_p{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin:4px;
    text-align: center;

}


.form-container_label{
    
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: var(--md);
    font-weight: bold;

}

.form-container_input{
background: var(--Text-input-field);
border: none;
border-radius: 10px;
width: 100%;
margin: 0px;
padding-top: 8px;
padding-bottom: 8px;
font-size: var(--md);
}

.primary-button{
    color: var(--Text-input-field);
    background-color: var(--hospital-green);
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 16px;
    padding: 16px;
    font-size: var(--md);
    cursor: pointer;
}


.form-container_forgot-pass{
    text-decoration: none;
    color: var(--hospital-green);
    font-size: var(--sm);
}


@media (max-width: 600px) {

}