:root {
    /* colors */
    --very-light-pink: #c7c7c7;
    --hospital-green: #acd9b2;
    --Text-input-field: #f7f7f7;
    --dark: #232330;
    --white: #ffffff;
    --grey: #555;
    /* text sizes */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
 font-family: "Lato", sans-serif;
 font-family: "Quicksand", sans-serif;
 margin: 0%;
}

.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 10px;

}

.desktop-menu_ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.desktop-menu_ul li{
    margin-bottom: 12px;
    
}


.desktop-menu_ul li:last-child{
    border-top: 1px solid var(--very-light-pink) ;
    padding-top: 20px;
}

.desktop-menu_ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}