:root {
  --very-light-pink: #c7c7c7;
  --hospital-green: #acd9b2;
  --Text-input-field: #f7f7f7;
  --dark: #232330;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Quicksand", sans-serif;
}
