:root{
    --very-light-pink: #C7C7C7;
    --hospital-green: #ACD9B2;
    --Text-input-field: #F7F7F7;
    --dark: #232330;
    
}

body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background: var(--dark);
}