:root {
    /* colors */
    --very-light-pink: #c7c7c7;
    --hospital-green: #acd9b2;
    --Text-input-field: #f7f7f7;
    --dark: #232330;
    --white: #ffffff;
    --grey: #555;
    /* text sizes */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  
  body {
    font-family: "Lato", sans-serif;
    font-family: "Quicksand", sans-serif;
    margin: 0px ;
  }
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.form-container{
    width: 316px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container_h1{
    font-size: var(--lg);
}

.form-container_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form-container_heading{
    color: var(--dark);
    font-size: var(--lg);
    margin: 0px;
    
}

.form-container_p{
    font-size: var(--md);
    height: 32px;
    margin:4px;
    border-radius: 10px;
    background: var(--Text-input-field);
    color: var(--grey);

}

.form-container_info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container_label{
    
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: var(--md);
    font-weight: bold;

}

.form-container_input{
background: var(--Text-input-field);
border: none;
border-radius: 10px;
width: 100%;
margin: 0px;
padding-top: 8px;
padding-bottom: 8px;
font-size: var(--md);
}


.primary-button{
    color: var(--Text-input-field);
    background-color: var(--hospital-green);
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 16px;
    padding: 16px;
    font-size: var(--md);
    cursor: pointer;
}

.secondary-button{
    border: 1px solid var(--hospital-green);
    background: var(--white);
    color: var(--hospital-green);
    padding: 16px;
    border-radius: 10px;
    font-size: var(--md);
    width: 100%;
    margin-top: 12px;
}

.form-container_forgot-pass{
    text-decoration: none;
    color: var(--hospital-green);
    font-size: var(--sm);
}


@media (max-width: 600px) {
    .form-container_form{
        justify-content: space-around;
    }

}