:root {
    --very-light-pink: #c7c7c7;
    --hospital-green: #acd9b2;
    --Text-input-field: #f7f7f7;
    --dark: #232330;
  }
  
  body {
    font-family: "Lato", sans-serif;
    font-family: "Quicksand", sans-serif;
    margin: 0px ;
  }
.container{
    width: 100%;
    
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container img{
    padding: 48px;
    width: 250px;
}
.form-container h1{
    color: var(--dark);
    font-size: larger;
}

.form-container p{
    color: var(--very-light-pink);
    font-size: larger;
}


form{
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.primary-button{
    color: var(--Text-input-field);
    background-color: var(--hospital-green);
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 12px;
}